@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
html, body, #app {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
body, input, button {
    font: 14px 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    width: 600px;
    display:flex;
    flex-wrap: wrap;
}
button {
    cursor: pointer;
}

body {
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
    background-attachment: fixed;
}

/**
* YOUR CODE HERE
*/

.query {
    width:400px;
    background-color:#ddd;
    margin-top: 20px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.inputField {
    background-color: #d3d3d3;
    line-height: 40px;
    border: 0;
    padding: 0 10px;
    width:355px;
    margin: 0px auto 10px;
}

.btnSubmit {
    width: 355px;
    line-height:40px;
    border: 0;
    background-color: #008429;
    color:#fff;
}
.btnSubmit:hover {
    background-color: #00A333
}

.btnSubmit:disabled {
    background-color: #d1d1d1;
}

.flightDetails {
    width:400px;
    background-color:#ddd;
    margin-top: 20px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
    margin-bottom: 15px;
}
h2 {
    margin: 20px 0;
}
.tinyInfo { 
    margin-top: 20px;
    font-size: 0.8em;
}
.refresher {
    color:#000;
    font-weight:bold;
    margin-top:10px;
}